---
import type { Props as MetaProps } from 'components/Meta.astro';
import Meta from 'components/Meta.astro';

export interface Props {
    seo?: MetaProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <head>
        <Meta {...seo} />
    </head>
    <body>
        <slot />
    </body>
</html>